ASSET_HOST=localhost:3000
APPLICATION_HOST=localhost:3000
PORT=3000
RACK_ENV=development
RACK_MINI_PROFILER=0
SECRET_KEY_BASE=development_secret
SMTP_ADDRESS=smtp.example.com
SMTP_DOMAIN=example.com
SMTP_PASSWORD=password
SMTP_USERNAME=username
WEB_CONCURRENCY=1
COMPOSE_PROJECT_NAME=ordway
POSTGRES_USER=ordway
POSTGRES_PASSWORD=ordway
POSTGRES_DB=ordway_development
#DATABASE_URL=postgres://ordway:ordway@postgres:5432/ordway_development
